# Public API base URL (Expo client এ readable)
# EXPO_PUBLIC_API_BASE_URL=https://api.proconstructiq.com
# EXPO_PUBLIC_API_BASE_URL=https://b7ds5k81-6000.inc1.devtunnels.ms
EXPO_PUBLIC_API_BASE_URL_PLAN=https://Aroconstructiq.com
EXPO_PUBLIC_API_BASE_URL=https://api.Aroconstructiq.com
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=pIzaSyBnSeciNE-QGCGMAdp2enjdwDVF5qasMu0